@import "tailwindcss";
@import "tw-animate-css";

@tailwind utilities;

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* green */
:root {
  --green: #344532;
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.723 0.219 149.579);
  --primary-foreground: oklch(0.982 0.018 155.826);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.723 0.219 149.579);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.723 0.219 149.579);
  --sidebar-primary-foreground: oklch(0.982 0.018 155.826);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.723 0.219 149.579);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.696 0.17 162.48);
  --primary-foreground: oklch(0.393 0.095 152.535);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.527 0.154 150.069);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.696 0.17 162.48);
  --sidebar-primary-foreground: oklch(0.393 0.095 152.535);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.527 0.154 150.069);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  :root {
    /* --radius: 0.5rem; */
    overflow-x: hidden;
  }
}

/* unilities classes */
@layer utilities {
  .green {
    color: var(--green);
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .text-30-extrabold {
    @apply text-[30px] font-extrabold text-green-100;
  }

  .text-30-bold {
    @apply text-[30px] font-bold text-black;
  }

  .text-30-semibold {
    @apply text-[30px] font-semibold text-black;
  }

  .text-26-semibold {
    @apply text-[26px] font-semibold text-black;
  }

  .text-24-black {
    @apply text-[24px] font-black text-black;
  }

  .text-20-medium {
    @apply text-[20px] font-medium text-black;
  }

  .text-16-medium {
    @apply text-[16px] font-medium text-black;
  }

  .text-14-normal {
    @apply text-sm font-normal text-green-100;
  }

  .pink_container {
    @apply bg-primary flex min-h-[530px] w-full flex-col items-center justify-center px-6 py-10;
  }

  .tag {
    @apply bg-secondary relative rounded-sm px-6 py-3 font-bold uppercase;
  }

  .heading {
    @apply my-5 max-w-5xl bg-transparent px-6 py-3 text-center text-[36px] leading-[46px] font-extrabold text-green-100 uppercase sm:text-[54px] sm:leading-[64px];
  }

  .sub-heading {
    @apply max-w-2xl text-center text-[20px] font-medium break-words text-green-100;
  }

  .section_container {
    @apply mx-auto max-w-7xl px-6 py-10;
  }

  .card_grid {
    @apply grid gap-5 sm:grid-cols-2 md:grid-cols-3;
  }

  .card_grid-sm {
    @apply grid gap-5 sm:grid-cols-2;
  }

  .no-result {
    @apply text-sm font-normal;
  }

  /* profile */
  .profile_container {
    @apply mx-auto flex w-full max-w-7xl flex-col gap-10 px-6 pt-20 pb-10 lg:flex-row;
  }

  .profile_card {
    @apply bg-primary relative z-0 flex h-fit w-80 flex-col items-center justify-center rounded-[30px] border-[5px] border-[var(--green)] px-6 pt-20 pb-6 max-lg:w-full;
  }

  .profile_title {
    @apply absolute -top-9 w-11/12 rounded-[20px] border-[5px] border-[var(--green)] bg-transparent px-5 py-3 before:absolute before:-bottom-1 before:left-0 before:-z-[1] before:h-[60px] before:w-full before:-skew-y-6 before:rounded-[20px] before:bg-transparent before:content-[''] after:absolute after:-top-1 after:right-0 after:-z-[1] after:h-[60px] after:w-full after:-skew-y-6 after:rounded-[20px] after:bg-transparent after:content-[''];
  }

  .profile_image {
    @apply rounded-full border-[3px] border-[var(--green)] object-cover;
  }

  /* idea details */
  .divider {
    @apply mx-auto my-10 max-w-4xl border-dotted bg-zinc-400;
  }

  .view_skeleton {
    @apply fixed right-3 bottom-3 h-10 w-24 rounded-lg bg-zinc-400;
  }

  /* navbar */
  .avatar {
    @apply rounded-full bg-none p-0 drop-shadow-md focus-visible:ring-0;
  }

  .dropdown-menu {
    @apply w-56 rounded-2xl border-[5px] border-[var(--green)] bg-transparent p-5;
  }

  .login {
    @apply relative border-[5px] border-[var(--green)] bg-transparent py-4 font-medium text-black transition-all duration-500 hover:shadow-none;
  }

  /* searchform */
  .search-form {
    @apply flex min-h-[60px] w-full max-w-3xl flex-row items-center gap-5 rounded-full border-[2px] border-black bg-transparent px-5 text-lg font-light text-primary;
  }

  .search-input {
    @apply h-auto w-full flex-1 font-bold outline-none placeholder:font-semibold;
  }

  .search-btn {
    @apply flex size-[45px] items-center justify-center rounded-full bg-[var(--green)] hover:bg-primary text-black;
  }

  /* startupcard */
  .startup-card {
    @apply border-[var(--green)] hover:border-primary rounded-4xl border-[2px] bg-transparent px-5 py-6 transition-all duration-500;
  }

  .startup-card_date {
    @apply rounded-full px-4 py-2 text-[16px] text-black font-medium;
  }

  .startup-card_desc {
    @apply my-3 line-clamp-2 text-[16px] font-normal break-all text-black;
  }

  .startup-card_img {
    @apply h-[164px] w-full rounded-[10px] object-cover;
  }

  .startup-card_btn {
    @apply rounded-full bg-transparent px-5 py-3 text-[16px] font-medium text-black;
  }

  .startup-card_skeleton {
    @apply h-96 w-full rounded-[22px] bg-zinc-400;
  }

  /* startupform */
  .startup-form {
    @apply mx-auto my-10 max-w-2xl space-y-8 bg-transparent px-6;
  }

  .startup-form_label {
    @apply text-[18px] font-bold text-black uppercase;
  }

  .startup-form_input {
    @apply mt-3 rounded-full border-[3px] border-[var(--green)] px-5 py-7 text-[18px] font-semibold text-black placeholder:text-black;
  }

  .startup-form_textarea {
    @apply mt-3 rounded-[20px] border-[3px] border-[var(--green)] p-5 text-[18px] font-semibold text-black placeholder:text-black;
  }

  .startup-form_error {
    @apply mt-2 ml-5 text-red-500;
  }

  .startup-form_editor {
    @apply mt-3 border-[3px] border-[var(--green)] text-[18px] font-semibold text-black placeholder:text-black;
  }

  .startup-form_btn {
    @apply bg-primary min-h-[70px] w-full rounded-full border-[4px] border-[var(--green)] p-5 text-[18px] font-bold;
  }

  /* view */
  .view-container {
    @apply fixed right-3 bottom-3 mt-5 flex items-center justify-end;
  }

  .view-text {
    @apply rounded-lg px-4 py-2 text-[16px] font-medium capitalize;
  }

  .category-tag {
    @apply rounded-full px-4 py-2 text-[16px] font-medium;
  }

  .pattern {
    background-image: linear-gradient(
      to right,
      transparent 49.5%,
      rgba(251, 232, 67, 0.2) 49.5%,
      rgba(251, 232, 67, 0.6) 50.5%,
      transparent 50.5%
    );
    background-size: 5% 100%;
    background-position: center;
    background-repeat: repeat-x;
  }

  .tag-tri {
    @apply before:absolute before:top-2 before:left-2 before:border-t-[10px] before:border-r-[10px] before:border-t-black before:border-r-transparent before:content-[''] after:absolute after:right-2 after:bottom-2 after:border-b-[10px] after:border-l-[10px] after:border-b-black after:border-l-transparent after:content-[''];
  }
}

.w-md-editor-toolbar {
  padding: 10px;
}
